<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <!--displays a mentee's match(es) with mentor(s) -->
        <title>My Mentor Match</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <main>
            <navigation></navigation>

            <section>
                <div class='container'>
                    <div class='subContainerCenter'>
                        <h1>Confirmed Match</h1>
                        <div>Once you request a match, it must be approved by the mentor and the administration team. The match will display here when this process is complete and the match has been confirmed.</div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Mentor Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="match in confirmedMatches" >
                                    <td>{{match.mentor.person.firstName}} {{match.mentor.person.lastName}} </td>
                                    <td><button id="profile" onclick="display('profileModal')">View Mentor</button> 
                                        <div id="profileModal" class="modal" >
                                            <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;" > 
                                                <div class="modal-content">
                                                    <button class="close" onclick="modal.style.display = 'none';">&times;</button>
                                                    <div class="modal-header"> 
                                                        <h1 class="modal-title">Mentor Profile</h1> 
                                                    </div> 
                                                    <div class="modal-body">
                                                        <img v-bind:src="match.mentor.person.profilePhoto" class="photoPreview">
                                                        <h2>Personal contact details:</h2>
                                                        <br>
                                                        Name: {{match.mentor.person.firstName}} {{match.mentor.person.lastName}}
                                                        <br><br>   
                                                        Email: {{match.mentor.person.email}}
                                                        <br><br>   
                                                        Phone: {{match.mentor.person.phone}}
                                                        <br><br>   
                                                        Mobile: {{match.mentor.person.mobile}}
                                                        <br><br>   
                                                        Preferred Communication: {{match.mentor.preferredCommunication}}
                                                        <br><br> 
                                                        City: {{match.mentor.person.city}} 
                                                        <br><br> 
                                                        Mentoring areas: {{match.mentor.mentoringPreference}}
                                                        <h2>About me:</h2>
                                                        <br>
                                                        Bio: {{match.mentor.person.bio}}
                                                        <br><br> 
                                                        Skills: <p v-for="skill in match.mentor.person.skills">{{skill}}</p>
                                                        <br><br>
                                                        Interests: <p v-for="interest in match.mentor.person.interests">{{interest}}</p>
                                                        <br><br>   
                                                    </div>
                                                </div>
                                            </div>
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                    </div>
                </div>
            </section>
            <iframe src="footer.html" onload="this.before((this.contentDocument.body || this.contentDocument).children[0]);this.remove()"></iframe>
        </main>
        <script>
            var modal;

            function display(x) {
                modal = document.getElementById(x);
                modal.style.display = "block";
            }
            ;
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            };</script>
        <script type="module" src="js/mentee.js"></script>
    </body>
</html>
